p{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
}

h1{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;
    text-align: center;
}